.profile-main-container {
  grid-area: main-content;
  padding: 30px 40px;
  color: white;
  display: flex;
  justify-content: center;
}
.profile-card {
  background-color: #171721;
  width: 700px;
  height: 850px;
  border-radius: 80px;
  padding: 50px 60px;
  box-shadow: 1px 1px 10px black;
}
.profile-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 120px;
  font-size: 1.8em;
  font-weight: 800;
}
.profile-info {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "profile-key profile-value";
  /* background-color: cyan; */
  margin-top: 80px;
  font-size: 1.4em;
}
